@import '../helpers/variables';
@import '../helpers/mixins';

.error404 {
  text-align: center;

  .container {
    h1 {
      color: $gold;
      font-size: 100px;
      margin: 32px auto;
    }
    h2 {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}