@import '../helpers/variables';
@import '../helpers/mixins';

header {
  height: 90px;
  width: 100%;
  transition: all 0.3s;
  background: $black;
  color: $gold;
  &.frontpage {
    //maybe different
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    .header_logo {
      a {
        display: block;
        width: 153px;
        height: 45px;
        background: url(image-url('/marichka-logo.svg')) top left no-repeat;
        background-size: contain;
      }
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}
