@import '../helpers/variables';
@import '../helpers/mixins';

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: all 0.3s;
  &.frontpage {
    //maybe different
  }
  &.small {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    .header_row {
      transition: all 0.3s;
    }
  }
  .container {
    padding: 16px 0;
    .header_logo {
      a {
        display: block;
        img {
          max-height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}

@media screen and (max-width: 320px) { // max-width: 320px
}
