@import '../helpers/variables';
@import '../helpers/mixins';

.header_menu {
  padding: 30px 8px 8px;
  #close_menu {
    padding: 0;
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(image-url('/icons/close.svg')), linear-gradient(267.49deg, #19D7CF 4.21%, #3F95FC 100%);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 152px;
    z-index: 1;
    right: 50px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 2px;
    &.active {
      display: flex;
    }
    &:active {
      background-image: url(image-url('/icons/close.svg')), linear-gradient(267.49deg, #00D3CC 4.21%, #0074FF 100%);
    }
  }
  .menu_list {
    display: flex;
    flex-direction: row;
    .top {
      position: relative;
      margin-right: 50px;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: $lightgrey;
      >.sub-menu {
        display: none;
        padding: 20px 150px;
        position: relative;
        >li>a {
          text-transform: uppercase;
        }
        li {
          position: relative;
          &:hover {
            border-color: #2F5597;
            border-right: none;
            border-left: 3px solid #2F5597;
            border-bottom: 1px solid #2F5597;
            background: none;
            a {
              padding: 16px 30px 15px 28px;
            }
            .sub-menu {
              position: absolute;
              display: block;
              right: -100%;
              top: -1px;
              li {
                border: none;
                background: none;
                a {
                  padding-left: 68px;
                  font-weight: bold;
                  &:hover {
                    font-weight: bold;
                    color: #2F5597;
                  }
                }
              }
            }
          }
        }
      }
      .sub-menu {
        display: none;
        li {
          background: $white;
          border: 1px solid #D6D6D6;
          border-bottom: transparent;
          box-sizing: border-box;
          width: 310px;
          a {
            display: block;
            padding: 16px 30px;
          }
          &:last-of-type {
            border-bottom: 1px solid #D6D6D6;
            &:hover {
              border-bottom: 1px solid #2F5597;
            }
          }
        }
      }
      &.company {
        >.sub-menu {
          &:before {
            content: '';
            display: block;
            position: absolute;
            right: 653px;
            top: 35px;
            width: 1px;
            background: #D6D6D6;
            height: calc(100% - 70px);
          }
          &:after {
            content: '';
            display: flex;
            padding-left: 20px;
            background: url(image-url('/menu_company.svg')) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 150px;
            width: 440px;
            height: 100%;
          }
        }
      }
      &.services {
        >.sub-menu {
          &:before {
            content: '';
            display: block;
            position: absolute;
            right: 653px;
            top: 35px;
            width: 1px;
            background: #D6D6D6;
            height: calc(100% - 70px);
          }
          &:after {
            content: '';
            display: flex;
            padding-left: 20px;
            background: url(image-url('/menu_services.svg')) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 150px;
            width: 440px;
            height: 100%;
          }
        }
      }
      &.solutions {
        >.sub-menu {
          &:before {
            content: '';
            display: block;
            position: absolute;
            right: 653px;
            top: 35px;
            width: 1px;
            background: #D6D6D6;
            height: calc(100% - 70px);
          }
          &:after {
            content: '';
            display: flex;
            padding-left: 20px;
            background: url(image-url('/menu_solutions.svg')) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 150px;
            width: 440px;
            height: 100%;
          }
        }
      }
      &.clients {
        >.sub-menu {
          &:before {
            content: '';
            display: block;
            position: absolute;
            right: 653px;
            top: 35px;
            width: 1px;
            background: #D6D6D6;
            height: calc(100% - 70px);
          }
          &:after {
            content: '';
            display: flex;
            padding-left: 20px;
            background: url(image-url('/menu_clients.svg')) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 150px;
            width: 440px;
            height: 100%;
          }
        }
      }
      &.active {
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: -18px;
          height: 3px;
          width: 100%;
          background: $white;
        }
        >.sub-menu {
          display: block;
          background: $lightgrey;
          text-transform: none;
          width: 100vw;
          height: 100vh; /* Fallback for browsers that do not support Custom Properties */
          height: calc(var(--vh, 1vh) * 100);
          position: fixed;
          top: 0;
          left: 0;
          overflow: scroll;
          a {
            font-family: $arial;
            font-size: 12px;
            line-height: 16px;
            color: $black;
            &:hover {
              font-weight: bold;
              color: #2F5597;
              background-image: none;
              background-size: 100%;
              -webkit-background-clip: text;
              -webkit-text-fill-color: initial;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
//}
//
//@media screen and (max-width: 768px) { // max-width: 768px
//}
//
//@media screen and (max-width: 590px) { // max-width: 590px
  .header {
    .header_menu {
      position: absolute;
      top: 0;
      left: -100%;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      width: 100%;
      padding: 0;
      overflow: scroll;
      transition: all 0.3s;
      &.active {
        left: 0;
        transition: all 0.3s;
        background: transparent;
      }
      #close_menu,
      #close_menu:active {
        top: 22px;
        right: 19%;
        background-image: url(image-url('/icons/close_blue.svg'));
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
      }
      .mobile_menu_header {
        display: block;
        width: 85%;
        height: 75px;
        background: $lightgrey;
        padding: 14px 10px 0;
        img {
          width: 80px;
          margin: 4px 0 0 8px;
        }
      }
      .menu_list {
        background: $white;
        width: 85%;
        min-height: calc(100vh - 75px);
        min-height: calc(var(--vh, 1vh) * 100 - 75px);
        flex-direction: column;
        padding-bottom: 150px;
        .top {
          padding-right: 50px;
          margin-right: 0;
          .sub-menu {
            li {
              padding-right: 60px;
              border: none;
              display: flex;
              align-items: center;
              min-height: 65px;
              &:hover {
                border: none;
                .sub-menu {
                  display: none;
                }
              }
              a,
              a:hover {
                padding: 20px 0 20px 20px;
              }
            }
          }
        }
        li {
          position: relative;
          width: 100% !important;
          &.menu-item-has-children {
            &:after {
              content: '';
              display: block;
              position: absolute;
              right: 25px;
              top: calc(50% - 6px);
              width: 8px;
              height: 12px;
              background: url(image-url('/icons/bracet_right.svg')) center no-repeat;
            }
          }
          &.active,
          .sub-menu li.active {
            background: #11447E;
            position: absolute;
            z-index: 1;
            padding-left: 40px;
            width: 85% !important;
            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 19px;
              top: calc(50% - 7px);
              width: 8px;
              height: 14px;
              background: url(image-url('/icons/menu_back.svg')) center no-repeat;
            }
            a,
            a:hover {
              color: $white;
              -webkit-text-fill-color: initial;
              padding-left: 7px;
            }
            .sub-menu {
              padding: 0;
              background: $white;
              position: absolute;
              z-index: 1;
              top: 66px;
              height: calc(100vh - 141px);
              width: 100%;
              &:before,
              &:after {
                display: none;
              }
              &.active {
                top: 0;
              }
              li.active {
                top: 75px;
                position: fixed;
                .sub-menu {
                  left: 0;
                  display: block;
                  a,
                  a:hover {
                    color: $black;
                    padding: 24px 20px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 18px;
                    text-transform: uppercase;
                  }
                }
              }
            }
            &:after {
              display: none;
            }
          }
        }
        a,
        a:hover {
          color: $black;
          padding: 24px 20px;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 18px;
        }
      }
      .mobile_menu_footer {
        display: block;
        width: 85%;
        position: relative;
        margin-top: -133px;
        text-align: center;
        .header_languages {
          text-align: center;
          padding: 39px 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .languages_icon {
            background-image: url(image-url('/icons/globe_black.svg'));
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            min-width: 18px;
            height: 18px;
            float: left;
            margin-right: 5px;
          }
          .languages {
            display: flex;
            flex-direction: row;
            a {
              text-transform: uppercase;
              color: $black;
              font-family: $roboto;
              font-style: normal;
              font-weight: bold;
              font-size: 13px;
              line-height: 19px;
              font-variant: small-caps;
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) { // max-width: 320px
}