@import "helpers/variables";
@import "helpers/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: $arial;
  cursor: default;
  position: relative;
  background: $white;
  color: $black;
  &.modal_lock {
    overflow: hidden;
  }
}

main {
  position: relative;
  min-height: calc(100vh - 190px);
}

h1,
h2,
h3,
h4 {
  display: block;
  font-weight: bold;
  line-height: 1;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

.section {
  &.head {
    padding: 16px 0;
  }
}

.container {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;

  .content {
    line-height: 1.5;
    padding: 24px 0;

    h2 {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.pagination {
  text-align: center;
  .screen-reader-text {
    //display: none;
  }
  .current {
    @include hover;
  }
}

.slick-track {
  display: flex;
  align-items: center;
}

.hero {
  background: url(image-url('/listen-to-nature.jpg')) center no-repeat;
  background-size: cover;
  height: calc(100vh - 190px);
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .container {
    color: $gold;
    .title {
      font-size: 60px;
      margin-bottom: 24px;
    }
    .subtitle {
      font-size: 50px;
    }
  }
}

#wpadminbar {
  a {
    &:hover {
      color: $yellow;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
  .hero {
    .container {
      .title {
        font-size: 40px;
        span {
          display: block;
        }
      }
      .subtitle {
        font-size: 32px;

      }
    }
  }
}
