@import "helpers/variables";
@import "helpers/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: $arial;
  cursor: default;
  position: relative;
  background: url(image-url('/bg/black-leather.jpg')) center no-repeat;
  background-size: cover;
  &.modal_lock {
    overflow: hidden;
  }
  color: $gold;
}

main {
  position: relative;
  min-height: calc(100vh - 100px);
  padding: 1px;
}

h1,
h2,
h3,
h4 {
  display: block;
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

.section {
  &.head {
    padding: 8px;
    background: url(image-url('/bg/black-leather.jpg')) center no-repeat;
    background-size: cover;
  }
  &.hero {
    .container {
      margin: 30vh auto;
      h1,
      h2 {
        display: block;
        text-align: center;
      }
    }
  }
}

.container {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.hidden {
  display: none !important;
}

.pagination {
  text-align: center;
  .screen-reader-text {
    //display: none;
  }
  .current {
    @include hover;
  }
}

.slick-track {
  display: flex;
  align-items: center;
}

#wpadminbar {
  a {
    &:hover {
      color: $yellow;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}

@media screen and (max-width: 320px) { // max-width: 320px
}