@import "helpers/variables";
@import "helpers/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  cursor: default;
  position: relative;
  &.modal_lock {
    overflow: hidden;
  }
  color: $black;
}

main {
  position: relative;
  padding: 1px 0 0;
  .section:first-of-type {
    margin-top: 122px;
  }
}

.section {
  &.head {
    padding: 119px 78px;
    background: url(image-url('/bg/news.jpg')) center no-repeat;
    background-size: cover;
    h1 {
      font-family: $arial;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 51px;
      display: flex;
      align-items: center;
      color: #F2F2F2;
      width: 40%;
      text-shadow: 2px 2px #11447E;
    }
  }
  &.breadcrumbs {
    padding: 22px 78px;
    background: $lightgrey;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    .current-item {
      opacity: 0.5;
    }
  }
}

.container {
  width: 1110px;
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0 0;
  &:last-of-type {
    padding-bottom: 50px;
  }
  h2 {
    display: block;
    font-family: $arial;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: $black;
  }
}

.container_margin {
  width: 1110px;
  max-width: 1110px;
  height: 100%;
  margin: 30px auto;
  // &:last-of-type {
  //   padding-bottom: 50px;
  // }
  h2 {
    display: block;
    font-family: $arial;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: $black;
  }  
}
.bold {
  font-weight: bold;
}
.hidden {
  display: none !important;
}

.pagination {
  text-align: center;
  .screen-reader-text {
    display: none;
  }
  .current {
    @include hover;
  }
}

.contact {
  .wpcf7 {
    max-width: 540px;
  }
  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 6px;
  }
  input,
  textarea {
    background: $white;
    border: 1px solid rgba(73, 80, 95, 0.4);
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    padding: 10px 13px;
    font-family: $arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder { /* Microsoft Edge */
      font-family: $arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #C4C4C4;
    }
    &:focus,
    &:active {
      border: 1px solid #00D2ED;
    }
  }
}

.slick-track {
  display: flex;
  align-items: center;
}

#wpadminbar {
  a {
    &:hover {
      color: white;
      -webkit-text-fill-color: inherit;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
  .container, .container_margin {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) { // max-width: 1024px
//}
//
//@media screen and (max-width: 768px) { // max-width: 768px
//}
//
//@media screen and (max-width: 590px) { // max-width: 590px
  .section {
    &.head {
      padding: 20px;
      background: url(image-url('/bg/news.jpg')) center no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        text-shadow: 2px 2px #11447E;
      }
    }
    &.breadcrumbs {
      padding: 14px 20px;
      background: $lightgrey;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $black;
      .current-item,
      &:last-child {
        opacity: 0.5;
      }
    }
  }

  main {
    .section:first-of-type {
      margin-top: -1px;
      min-height: 250px;
    }
  }

  .grecaptcha-badge {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 40px 20px;
    &:last-of-type {
      padding-bottom: 40px;
    }
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      width: 80%;
      margin: auto;
    }
  }
  .container_margin {
    width: 100%;
    max-width: 100%;
    margin: 20px 20px;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      width: 80%;
      margin: auto;
    }
  }
  .pagination {
    margin: 30px auto 10px;
    .nav-links {
      a, span {
        margin: 0 8px;
      }
    }
  }
}

.article, .service_group, .difference, .problems, .case_description {
  a:not(.btn) {
    @include active;
  }  
  a:not(.btn):hover {
   @include hover;
   text-decoration: underline;
   text-decoration-color:#3F95FC;
  }  

  ul {
    list-style: circle;
  }
  li {
    margin-top: .5em;
    line-height: 1.3em;
  }
  h2 {
    margin-bottom: 22px;
  }
  h3{
    font-size: 20px;
    margin: 2em 0 1em 0;
  }
  h5{  
    font-size: 18px;
    margin: .5em 0 .5em 0;
  }
  p{
    line-height: 1.4em;
    margin-top: 1em;
  }
}

@media screen and (max-width: 320px) { // max-width: 320px
}