// Helpers
@import 'helpers/variables';
@import 'helpers/mixins';

// Base styles
@import 'base/reset';
@import 'common';

// Components
@import 'components/buttons';
//@import 'components/modals';
@import 'components/contacts';
@import 'components/social';
@import 'components/header';
@import 'components/about';
//@import 'components/search';
@import 'components/menu';
//@import 'components/news';
//@import 'components/feedback';
@import 'components/404';
@import 'components/footer';